**/.git
**/.gitignore
**/.gitattributes
**/.opencode
**/.vscode
**/.idea
**/.DS_Store
**/node_modules
**/dist
**/coverage
**/.nyc_output
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/report.[0-9]*.json
**/.env
**/.env.*
!**/.env.example
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.auth
**/.prisma
**/.temp
**/.tmp
**/specs
**/test
**/.agents
**/Dockerfile
**/docker-compose.yml
**/docker-compose.*.yml
**/.dockerignore
**/*.md
!README.md
